# ===============================
# Node Dependecies
# ===============================
node_modules/
npm-debug.log*
dist/
build/

# ===============================
# Envs, Keys & Logs
# ===============================
.env
*.pem
*.key
logs/
*.log

# ===============================
# OS & IDE Settings
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Misc
# ===============================
tmp/
.cache/
tmp-*/
coverage/
*.tgz